
server:
  port: ${WEB_PORT:8090}

spring:
  application:
    name: graphql-web
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://${MYSQL_HOST:127.0.0.1}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:graphql}?autoReconnect=true&useUnicode=true&characterEncoding=UTF8&useSSL=false&zeroDateTimeBehavior=convertToNull
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWORD:root}